server:
  port: 8080

spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: authentication-service
              uri: http://localhost:9000
              predicates:
                - Path=/authentication-service/**,/api/v1/authentication/**,/api/v1/user/**,/api/v1/session/**
              filters:
                - name: AuthenticationFilter
  web:
    error:
      include-exception: true

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    config-url: /v3/api-docs/swagger-config
    urls:
      - name: authentication-service
        url: /authentication-service/v3/api-docs

eureka:
  instance:
    hostname: api-gateway-service
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive.function.client: DEBUG
    org.springframework.web.reactive: DEBUG
    org.springdoc: DEBUG

security:
  jwt:
    secret: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b