name: Kotlin CI

on: [ 'push' ]

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Run ktlint check
        run: ./gradlew ktlintCheck --no-daemon

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build all modules
        run: ./gradlew build -x test --no-daemon --build-cache

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Run unit tests
        run: ./gradlew test --no-daemon

  quality-gate:
    name: Quality Gate
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: gradle

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Run Jacoco coverage verification
        run: ./gradlew jacocoCoverageVerification --no-daemon